@import "tailwindcss";
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* リセット */
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.en {
  font-family: "Playfair", serif;
  font-size: 22px;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
}
input {
  border: 0.5px solid #606060;
  border-radius: 5px;
  background-color: #fff;
  text-align: right;
  height: 30px;
  width: 210px;
  margin-right: 5px;
  padding-right: 10px;
}

/* 共通要素 */
/* ヘッダー分ページ先頭位置をさげる */
.co-headerBunSageru {
  margin-top: 50px;
}
/* PC・モバイル位置 */
.co-screenPosition {
  width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .co-screenPosition {
    width: 1000px;
    margin: 30px auto;
  }
}
.co-screenPositionInput {
  width: 320px;
  margin: 0 auto;
  /* height: 600px; */
}
.co-screenPositionResult {
  width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .co-screenPositionResult {
    width: 620px;
    margin: 0 auto;
  }
}
/* PC表示時、flex表示用div */
.co-pcFlex {
  display: block;
}
@media screen and (min-width:1024px) {
  .co-pcFlex {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 1000px;
    margin: 0 auto;
  }
}
/* 文字サイズ */
/* 12px */
.co-12px {
  font-size: 12px;
}
/* 太字 */
.co-Bold {
  font-weight: bold;
}
/* 見出し 緑*/
.co-midashiGreen {
  padding: 0 0 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #60A092;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.co-midashiGreen h1{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: fit-content;
}

/* 見出し ピンク*/
.co-midashiPink {
  padding: 0 0 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #DA93A7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.co-midashiPink h1{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: fit-content;
}
/* 見出し オレンジ*/
.co-midashiOrange {
  padding: 0 0 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #EB9D48;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.co-midashiOrange h1{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: fit-content;
}
/* 見出し 2行　黒 */
.co-midashi2sentBlackContainer {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px !important;
}
.co-midashi2sentBlackContainer span {
  display: block;
  width: 5px;
  height: 90px;
  background-color: #A3C5BE;
}
/* 見出し 2行　赤 */
.co-midashi2sentRedContainer {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px !important;
}
.co-midashi2sentRedContainer span {
  display: block;
  width: 10px;
  height: 90px;
  background-color: #DA93A7;
}
/* 見出し 2行　オレンジ */
.co-midashi2sentOrangeContainer {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px !important;
}
.co-midashi2sentOrangeContainer span {
  display: block;
  width: 10px;
  height: 180px;
  background-color: #ebc091;
}
@media screen and (min-width: 1024px){
  .co-midashi2sentBlackContainer span {
    width: 10px;
  }
  .co-midashi2sentRedContainer span {
    width: 10px;
  }
  .co-midashi2sentOrangeContainer span {
    width: 10px;
    height: 80px;
  }
}
/* 緑 */
.co-midashi2sentBlack::before {
  display: block;
  width: 5px;
  height: 30px;
  background-color: #A3C5BE;
}
.co-midashi2sentBlack h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}
.co-midashi2sentOrange p {
  font-size: 22px;
}
/* オレンジ */
.co-midashi2sentOrange::before {
  display: block;
  width: 5px;
  height: 30px;
}
.co-midashi2sentOrange h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}
.co-midashi2sentBlack p {
  font-size: 22px;
}
@media screen and (max-width: 1024px){
  .co-midashi2sentBlack::before {
    height: 60px;
  }
  .co-midashi2sentBlack p {
    font-size: 14px !important;
  }
  .co-midashi2sentBlack h1 {
    font-size: 26px;
  }
}
/* 子見出し 緑 */
.co-komidashiGreen {
  display: flex;
  gap: 5px;
  align-items: center;
}
.co-komidashiGreen span{
  display: block;
  width: 10px;
  height: 3px;
  background-color: #A3C5BE;
}
.co-komidashiGreen h3 {
  font-size: 24px;
  font-weight: 500;
}

/* 子見出し ピンク */
.co-komidashiPink {
  display: flex;
  gap: 5px;
  align-items: center;
}
.co-komidashiPink span{
  display: block;
  width: 10px;
  height: 3px;
  background-color: #DA93A7;
}
.co-komidashiPink h3 {
  font-size: 24px;
  font-weight: 500;
}

/* 子見出し オレンジ */
.co-komidashiOrange {
  display: flex;
  gap: 5px;
  align-items: center;
}
.co-komidashiOrange span{
  display: block;
  width: 10px;
  height: 3px;
  background-color: #EB9D48;
}
.co-komidashiOrange h3 {
  font-size: 24px;
  font-weight: 500;
}

/* 囲み　緑 */
.co-kakomiGreen {
  border: 1px solid #A3C5BE;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}

/* 囲み　ピンク */
.co-kakomiPink {
  border: 1px solid #fad2de;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}

/* 囲み　オレンジ */
.co-kakomiOrange {
  border: 1px solid #ebc091;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}

/* 囲み　黒 */
.co-kakomiBlack {
  border: 0.5px solid #cfcfcf;
  border-radius: 10px;
  padding: 20px 30px 0 30px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}
/* ボタン類 */
/* シュミレーションボタン */
/* メインボタン */
.co-simulationButton {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.co-simulationButton button{
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ff7d55;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
  margin: 20px auto 0 auto;
  position:absolute;
  top: 0;
  z-index: 1;
  width: fit-content;
}
.co-simulationButton button:hover {
  top: 5px;
  box-shadow: none;
  background-color: #f3987d;
}
/* 緑のボタン */
.co-simulationButtonBlue {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.co-simulationButtonBlue button{
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #60A092;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
  margin: 20px auto 0 auto;
  position:absolute;
  top: 0;
  width: fit-content;
}
.co-simulationButtonBlue button:hover {
  top: 5px;
  box-shadow: none;
  background-color: #4a7a70;
}

/* サブボタン */
.co-simulationButton2 {
  display: flex;
}
.co-simulationButton2 button{
  border-radius: 5px;
  padding: 1px 10px;
  background-color: #60A092;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  width: fit-content;
  margin: 10px 0 15px 0;
}
.co-simulationButton2 button:hover {
  background-color: #4a7a70;
}
.co-simulationButton3 {
  display: flex;
  z-index: 1;
  justify-content: end;
}
.co-simulationButton3 button{
  border-radius: 5px;
  padding: 1px 10px;
  background-color: #89C0F4;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  top: 0;
  z-index: 1;
  width: fit-content;
  margin: 10px 0 15px 0;
}
.co-simulationButton3 button:hover {
  background-color: #468cce;
}
@media screen and (min-width:1024px) {
  .co-simulationButton button{
    top: 20px;
    width: 100%;
    margin: 0;
  }
  .co-simulationButton button:hover {
    top: 25px;
  }
}
/* input項目の単位 */
.co-inputUnit {
  font-size: 14px;
  color: #606060;
  font-weight: bold;
  margin-left: 5px;
}
/* input項目のエラーメッセージ */
.co-inputErrorMsg {
  color: red;
  font-size: 12px !important;
  font-weight: bold;
  text-align: start;
  padding-top: 3px;
}
/* アイコン類(離職シュミレーター) */
/* グリーンアイコン */
.co-iconGreen {
  width: 14px;
  height: 14px;
  background-color: #59CAB2;
  border-radius: 50%;
}
/* レッドアイコン */
.co-iconRed {
  width: 14px;
  height: 14px;
  background-color: #F48989;
  border-radius: 50%;
  position: relative;
}
.co-iconRed span {
  width: 8px !important;
  height: 2px;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 6px;
  left: 3px;
}
/* ブルーアイコン */
.co-iconBlue {
  width: 14px !important;
  height: 14px;
  background-color: #468cce;
  border-radius: 50%;
  position: relative;
}
.co-iconBlue span:nth-child(1) {
  width: 8px !important;
  height: 2px;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 6px;
  left: 3px;
}
.co-iconBlue span:nth-child(2) {
  width: 2px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top: 3px;
  left: 6px;
}


/* header */
.headerContent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: #dddddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}
.headerContent h1 {
  width: fit-content;
  font-size: 18px;
  font-weight: bold;
  color: #050505;
}


/* コーストFIREとは app/components/coastFireSection/aboutCoastFire.tsx */
.aboutCoastContainer {
 margin-bottom: 60px;
}
.aboutCoastContent {
  padding: 20px;
}
.aboutCoastDescription p {
  font-size: 16px;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  .aboutCoastContainer {
    margin-bottom: 80px;
  }
  .aboutCoastDescription p {
    padding-left: 40px;
  }
}


/* 積立金額シュミレーター app/components/coastFireSection/coastFireSimulation.tsx */
.SimulatorCoastContainer {
  background-color: #fff;
  padding: 30px 0;
}
.SimulatorCoastContainerLeft {
  margin-bottom: 150px; /* 結果と取り崩しの間のスペース */
}
@media screen and (min-width:1024px) {
  .SimulatorCoastContainer {
    background-color: #fff;
  }
  .SimulatorCoastContainerLeft {
    margin-bottom: 80px;
  }
}
/* section1 */
.SimulatorCoastDescription {
  font-size: 16px;
  margin: 10px 0;
}
@media screen and (min-width:1024px) {
  .SimulatorCoastDescription {
    font-size: 22px !important;
  }
}
.toMenseki {
  color: #7883FF;
  font-size: 16px;
  border-bottom: 1px solid #7883FF;
}
.toMenseki:hover {
  color: #3343f4;
  border-bottom: 1px solid #3343f4;
}
@media screen and (min-width:1024px) {
  .toMenseki {
    font-size: 20px;
  }
}
/* section2 入力 */
.SimulatorCoastInputContainer {
  background-color: #f8fafc;
  border: 1px solid #E5E7EB;
  padding: 20px 30px;
}
.SimulatorCoastInputContainerOrange {
  background-color: #f8fafc;
  border: 1px solid #E5E7EB;
  padding: 20px 30px;
}
/* section3 結果*/
.SimulatorCoastResultSection {
  padding: 20px;
  height: fit-content;
}
.SimulatorCoastResultSection p{
  font-size: 16px;
}
/* torikuzushi呼び出し */
.callTorikuzushiComponent {
  margin: 40px auto;
}
@media screen and (min-width: 1024px) {
  .callTorikuzushiComponent {
    margin: 40px auto;
  }
}
/* section4 免責*/
.mensekiContainer {
  background-color: #cacaca;
  padding: 60px 0 60px 0;
}


/* 入力画面 app/components/coastFireSection/input/inputItems.tsx */
.InputContainer h3{
  font-weight: bold;
  color:#60A092;
  border-bottom: 1px solid #60A092;
  width: fit-content;
}
.InputContainerPink h3 {
  font-weight: bold;
  color:#C36782;
  border-bottom: 1px solid #C36782;
  width: fit-content;
}
.InputContainerOrange h3 {
  font-weight: bold;
  color:#DF821E;
  border-bottom: 1px solid #DF821E;
  width: fit-content;
}
.InputYourSituation {
  margin: 10px 0;
}
.inputItems {
  margin-top:  15px;
  margin-bottom: 3px;
}
.yourGoal {
  margin: 40px 0 0 0;
}

/* 結果 */
/* 元本到達までの積立額 */
.coastTumitateResultAmount {

  background: linear-gradient(135deg, #8fd6c8, #238479, #09312a, #7fc2b5);
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

.coastTumitateResultAmount .one {
  font-size: 32px;
}
.coastTumitateResultAmount .two {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .coastTumitateResultAmount .two {
    font-size: 16px;
  }
}

.coastTumitateResultAmountGraph {
  padding: 30px;
}
@media screen and (min-width: 1024px) {
  .coastTumitateResultAmountGraph {
    padding: 0 10px 10px 10px;
  }
}
.coastTumitateResultAmount .graph {
  margin-top: 20px;
}
.coastTumitateResultAmount .four {
  margin-top: 20px;
  font-size: 16px;
}
.coastTumitateResultAmount .five {
  font-size: 16px;
  color: #606060;
  text-align: end;
  margin-top: 10px;
}
.shisansuiiContainer {
  margin-top: 10px;
}

/* 取り崩し */
.torikuzushiRight {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(182, 182, 182, 0.1);
  background-color: #fff;
  border: 0.5px solid #cfcfcf;
  margin-top: 20px;
}
@media screen and (min-width:1024px) {
  .torikuzushiFlexBox {
    display: flex;
    justify-content: center;
    gap:40px;
  }
  .torikuzushiLeft {
    width: 540px;
    margin: 0;
  }
  .torikuzushiRight {
    width: 320px;
    margin:0;
  }
}
.torikuzushiAmountDescription {
  margin-top: 10px;
}
.torikuzushiAmountContent {
  /* border: 1px solid #60A092; */
  background-color: #fff;
  padding: 5px 0;
}
.torikuzushiAmountContent p{
  width: fit-content;
  margin: 0 auto;
}
.torikuzushiAmountContent p:nth-child(1){
  font-weight: bold;
  font-size: 20px;
}
.torikuzushiAmountContent p:nth-child(2){
  font-size: 18px;
}
.about4perRule {
  color: #606060;
}
.about4perRule p {
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .about4perRule p {
    font-size: 16px;
  }
}

.about4perRuleTitle {
  display: flex;
  justify-content: left;
  gap:5px;
  align-items: center;
  margin-bottom: 10px;
}

/* 免責事項 app/components/common/Menseki.tsx */
.mensekiContent {
  text-align: center;
  color: #606060;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .mensekiContent {
    padding: 20px 60px;
  }
}
.mensekiContent h3 {
  font-size: 18px;
  font-weight: bold;
}
.mensekiContent ul {
  list-style-type: disc;
}
.mensekiContent li {
  text-align: left;
  font-size: 16px;
}
/* 免責ページ */
.mensekiPage {
  padding-top: 100px;
  height: 100vh;
  background-color: #cacaca;
}

/* メニュー */
.menuContainer {
  padding-top: 80px;
  width: 320px;
  margin: 0px auto;
}
.menuContainer h1 {
  width: fit-content;
  font-weight: bold;
}
/* .menuItemContainer {
  margin-top: 10px;
} */
/* .menuItemsContent {
  position: relative;
} */
.menuItems {
  /* position: absolute; */
  top: 0;
  border: 1px solid #60A092;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  margin-top: 30px;
}
.menuItems:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.menuItems h2 {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  background-color: #60A092;
  border-radius: 8px 8px 0 0 ;
  padding: 5px 10px;
  text-align: center;
}
.menuItems p {
  font-size: 16px;
  padding: 5px 10px;
  color: #606060;
}


/* 離職期間の貯金推移シュミレーター */
/* (app/components/risyokuSavingSimulatiorSection/input/inputItems.tsx) */
.risyokuSavingInputYourSituation {
  margin: 20px 0;
}
.risyokuSavingInputYourSituation input {
  width: 250px;
  padding-right: 40px;
  font-weight: bold;
}
.risyokuYourSituationLabel {
  display: inline-block;
  margin-bottom: 25px;
}
.risyokuYourSituationLabel p{
  font-weight: bold;
  font-size: 14px;
}
.risyokuSavingInputRelative {
  position: relative;
}
.risyokuSavingInputRelative span {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 35px;
  color:#606060;
  font-size: 14px;
}
.risyokuSavingInputExtraIncome {
  display: flex;
  align-items: center;
}
.risyokuSavingInputExtraIncome p {
  width: 70px;
}
.risyokuSavingInputExtraIncome input {
  width: 180px;
}
.risyokuSavingInputExtraIncome span {
  top: 7px;
}
.risyokuSavingInputFlex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

/* 離職期間の結果表 */
/* app/components/risyokuSavingSimulatiorSection/output/savingResultSection.tsx */
.risyokuResultAmount .one {
  margin: 10px 0;
  text-align: center;
  padding: 10px 0;
}
.oneGreen {
  color: #ffffff;
  background: linear-gradient(135deg, #eba8bc, #a9556e, #a02b50, #eba9bd);
}
.oneGreenRisyoku {
  color: #ffffff;
  background: linear-gradient(135deg, #8fd6c8, #238479, #09312a, #7fc2b5);
  font-size: 32px !important;
  font-weight: bold;
}
.oneRed {
  color: #ffffff;
  background: linear-gradient(135deg, #edbe8d, #d7760e, #b46007, #f1d7bc);
  font-size: 32px !important;
  font-weight: bold;
}
.oneGreenRed {
  color: #ffffff;
  background: linear-gradient(135deg, #8fd6c8, #238479, #09312a, #7fc2b5);
  font-size: 32px !important;
  font-weight: bold;
}
.risyokuResultAmount .two {
  font-size: 18px !important;;
  margin-bottom: 40px;
}
.twoGreen {
  color: #393939;
  font-size: 18px !important;
}
.twoRed {
  color: #d7760e;
  font-size: 18px !important;
}
/* app/components/risyokuSavingSimulatiorSection/output/tableResult.tsx */
.marker {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}
.marker-green {
  background-color: #6FC7B3;
}
.marker-red {
  background-color: #E07A7A;
}
.bg {
  background-color: #fff9f3;
}
.saving-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #8BB0A0;
  border-radius: 8px;
  overflow: hidden;
}
.saving-table th {
  background-color: #8BB0A0;
  color: white;
  padding: 8px;
  text-align: center;
}
.saving-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #D9E7E2;
}
.tdRisyokuPosition {
  text-align: center;
}


/* コーストFIRE達成年齢シュミレーター app/coastFireAgeOfAchievementPage/page.tsx() */
.ageGraphContainer {
  width: 320px;
  margin: 0 auto;
  height: fit-content;
}
@media screen and (min-width: 700px) {
  .ageGraphContainer {
    width: 600px;
    height: fit-content;
  }
}
.ageResultContainer {
  height: fit-content;
}
@media screen and (max-width: 1023px){
  .ageResultContainer {
    margin: 0 20px;
  }
}
.co-screenPositionInputAge {
  width: 320px;
  margin: 0 auto;
  height: 640px;
}
