@import "tailwindcss";
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* リセット */
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.en {
  font-family: "Playfair", serif;
  font-size: 22px;
}
h1,
h2,
p,
a,
ul,
li,
span {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
}
input {
  border: 0.5px solid #606060;
  border-radius: 5px;
  background-color: #fff;
  text-align: right;
  height: 30px;
  width: 210px;
  margin-right: 5px;
  padding-right: 10px;
}

/* 共通要素 */
/* ヘッダー分ページ先頭位置をさげる */
.co-headerBunSageru {
  margin-top: 50px;
}
/* PC・モバイル位置 */
.co-screenPosition {
  width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .co-screenPosition {
    width: 1000px;
    margin: 30px auto;
  }
}
.co-screenPositionInput {
  width: 320px;
  margin: 0 auto;
}
.co-screenPositionResult {
  width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .co-screenPositionResult {
    width: 620px;
    margin: 0 auto;
  }
}
/* PC表示時、flex表示用div */
@media screen and (min-width:1024px) {
  .co-pcFlex {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 1000px;
  }
}
/* 文字サイズ */
/* 12px */
.co-12px {
  font-size: 12px;
}
/* 太字 */
.co-Bold {
  font-weight: bold;
}
/* 見出し 緑*/
.co-midashiGreen {
  padding: 0 0 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #60A092;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.co-midashiGreen h1{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: fit-content;
}
/* 見出し 2行　黒 */
.co-midashi2sentBlackContainer {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.co-midashi2sentBlackContainer span {
  display: block;
  width: 5px;
  height: 90px;
  background-color: #A3C5BE;
}
@media screen and (min-width: 1024px){
  .co-midashi2sentBlackContainer span {
    width: 10px;
  }
}
.co-midashi2sentBlack::before {
  display: block;
  width: 5px;
  height: 30px;
  background-color: #A3C5BE;
}
.co-midashi2sentBlack p{
  font-weight: bold;
  color: #000;
}
.co-midashi2sentBlack p:nth-child(1) {
  font-size: 13px;
}
.co-midashi2sentBlack p:nth-child(2) {
  font-size: 22px;
}
@media screen and (min-width: 1024px){
  .co-midashi2sentBlack::before {
    height: 60px;
  }
  .co-midashi2sentBlack p:nth-child(1) {
    font-size: 14px;
  }
  .co-midashi2sentBlack p:nth-child(2) {
    font-size: 34px;
  }
}
/* 子見出し 緑 */
.co-komidashiGreen {
  display: flex;
  gap: 5px;
  align-items: center;
}
.co-komidashiGreen span{
  display: block;
  width: 10px;
  height: 3px;
  background-color: #A3C5BE;
}
.co-komidashiGreen h3 {
  font-size: 16px;
  font-weight: bold;
}

/* 囲み　緑 */
.co-kakomiGreen {
  border: 1px solid #A3C5BE;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}

/* 囲み　黒 */
.co-kakomiBlack {
  border: 0.5px solid #cfcfcf;
  border-radius: 10px;
  padding: 20px 30px 0 30px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}
/* ボタン類 */
/* シュミレーションボタン */
.co-simulationButton {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.co-simulationButton button{
  /* border: 0.5px solid #606060; */
  border-radius: 5px;
  padding: 3px 20px;
  background-color: #ff7d55;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
  margin: 20px auto 0 auto;
  position:absolute;
  top: 0;
  z-index: 1;
  width: fit-content;
}
.co-simulationButton button:hover {
  top: 5px;
  box-shadow: none;
  background-color: #f3987d;
}
@media screen and (min-width:1024px) {
  .co-simulationButton button{
    top: 20px;
    width: 100%;
    margin: 0;
  }
  .co-simulationButton button:hover {
    top: 25px;
  }
}
/* input項目の単位 */
.co-inputUnit {
  font-size: 14px;
  color: #606060;
  font-weight: bold;
  margin-left: 5px;
}
/* input項目のエラーメッセージ */
.co-inputErrorMsg {
  color: red;
  font-size: 12px;
  font-weight: bold;
  text-align: start;
  padding-top: 3px;
}


/* header */
.headerContent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: #A3C5BE;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}
.headerContent h1 {
  width: fit-content;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}


/* コーストFIREとは app/components/coastFireSection/aboutCoastFire.tsx */
.aboutCoastContainer {
 margin-bottom: 60px;
}
.aboutCoastContent {
  padding: 20px;
}
.aboutCoastDescription p {
  font-size: 16px;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  .aboutCoastContainer {
    margin-bottom: 80px;
  }
  .aboutCoastDescription p {
    padding-left: 40px;
  }
}


/* 積立金額シュミレーター app/components/coastFireSection/coastFireSimulation.tsx */
.SimulatorCoastContainer {
  background-color: #fff;
  padding: 30px 0;
}
.SimulatorCoastContainerLeft {
  margin-bottom: 150px; /* 結果と取り崩しの間のスペース */
}
@media screen and (min-width:1024px) {
  .SimulatorCoastContainer {
    background-color: #fff;
  }
  .SimulatorCoastContainerLeft {
    margin-bottom: 80px;
  }
}
/* section1 */
.SimulatorCoastDescription {
  font-size: 16px;
  margin: 10px 0;
}
@media screen and (min-width:1024px) {
  .SimulatorCoastDescription {
    font-size: 18px;
  }
}
.toMenseki {
  color: #7883FF;
  font-size: 16px;
  border-bottom: 1px solid #7883FF;
}
.toMenseki:hover {
  color: #3343f4;
  border-bottom: 1px solid #3343f4;
}
/* section2 入力 */
.SimulatorCoastInputContainer {
  background-color: #f8fafc;
  border: 1px solid #E5E7EB;
  padding: 20px 30px;
}
/* section3 結果*/
.SimulatorCoastResultSection {
  padding: 20px;
}
.SimulatorCoastResultSection p{
  font-size: 16px;
}
/* torikuzushi呼び出し */
.callTorikuzushiComponent {
  margin: 40px auto;
}
@media screen and (min-width: 1024px) {
  .callTorikuzushiComponent {
    margin: 40px auto;
  }
}
/* section4 免責*/
.mensekiContainer {
  background-color: #E6F2F0;
  padding: 60px 0 60px 0;
}


/* 入力画面 app/components/coastFireSection/input/inputItems.tsx */
.InputContainer h3{
  font-weight: bold;
  color:#60A092;
  border-bottom: 1px solid #60A092;
  width: fit-content;
}
.InputYourSituation {
  margin: 10px 0;
}
.inputItems {
  margin-top:  15px;
  margin-bottom: 3px;
}
.yourGoal {
  margin: 40px 0 0 0;
}

/* 結果 */
/* 元本到達までの積立額 */
.coastTumitateResultAmount {
  padding: 10px 10px 30px 10px;
}
@media screen and (min-width: 1024px) {
  .coastTumitateResultAmount {
    padding: 0 30px 10px 30px;
  }
}
.coastTumitateResultAmount .one {
  font-size: 20px;
  font-weight: bold;
  color: #4d8478;
  margin: 10px 0;
  text-align: center;
  border: 2px solid #4d8478;
  padding: 10px 0;
}
.coastTumitateResultAmount .two {
  font-size: 16px;
  color: #000;
}
@media screen and (min-width: 1024px) {
  .coastTumitateResultAmount .two {
    font-size: 16px;
  }
}
.coastTumitateResultAmount .graph {
  margin-top: 20px;
}
.coastTumitateResultAmount .four {
  margin-top: 20px;
  font-size: 16px;
}
.coastTumitateResultAmount .five {
  font-size: 16px;
  color: #606060;
  text-align: end;
  margin-top: 10px;
}
.shisansuiiContainer {
  margin-top: 10px;
}

/* 取り崩し */
.torikuzushiRight {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(182, 182, 182, 0.1);
  background-color: #fff;
  border: 0.5px solid #cfcfcf;
  margin-top: 20px;
}
@media screen and (min-width:1024px) {
  .torikuzushiFlexBox {
    display: flex;
    justify-content: center;
    gap:40px;
  }
  .torikuzushiLeft {
    width: 540px;
    margin: 0;
  }
  .torikuzushiRight {
    width: 320px;
    margin:0;
  }
}
.torikuzushiAmountDescription {
  margin-top: 10px;
}
.torikuzushiAmountContent {
  /* border: 1px solid #60A092; */
  background-color: #fff;
  padding: 5px 0;
}
.torikuzushiAmountContent p{
  width: fit-content;
  margin: 0 auto;
}
.torikuzushiAmountContent p:nth-child(1){
  font-weight: bold;
  font-size: 20px;
}
.torikuzushiAmountContent p:nth-child(2){
  font-size: 18px;
}
.about4perRule {
  color: #606060;
}
.about4perRule p {
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .about4perRule p {
    font-size: 16px;
  }
}

.about4perRuleTitle {
  display: flex;
  justify-content: left;
  gap:5px;
  align-items: center;
  margin-bottom: 10px;
}

/* 免責事項 app/components/common/Menseki.tsx */
.mensekiContent {
  text-align: center;
  color: #606060;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .mensekiContent {
    padding: 20px 60px;
  }
}
.mensekiContent h3 {
  font-size: 18px;
  font-weight: bold;
}
.mensekiContent ul {
  list-style-type: disc;
}
.mensekiContent li {
  text-align: left;
  font-size: 16px;
}
/* 免責ページ */
.mensekiPage {
  padding-top: 100px;
  height: 100vh;
  background-color: #E6F2F0;
}

/* メニュー */
.menuContainer {
  padding-top: 80px;
  width: 320px;
  margin: 0px auto;
}
.menuContainer h1 {
  width: fit-content;
  font-weight: bold;
}
.menuItemContainer {
  margin-top: 10px;
}
.menuItemsContent {
  position: relative;
}
.menuItems {
  position: absolute;
  top: 0;
  border: 1px solid #60A092;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}
.menuItems:hover {
  top: 5px;
}
.menuItems h2 {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  background-color: #60A092;
  border-radius: 8px 8px 0 0 ;
  padding: 5px 10px;
  text-align: center;
}
.menuItems p {
  font-size: 16px;
  padding: 5px 10px;
  color: #606060;
}
